body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
}

/* Carousel */
.carousel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}

.carousel.scroll {
  width: 100vw;
}

.carousel.fade {
  display: block;
  position: relative;
  width: 100%;
}

.carousel.fade .carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 2s ease;
}

.carousel.fade .carousel-slide.active {
  opacity: 1;
  z-index: 1;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Carousel navigation */
.carousel-navigation-container {
  position: fixed;
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease, visibility 0.5s ease;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: flex;
  gap: 10px;
  z-index: 1;
}

@media (max-height: 400px) {
  .carousel-navigation-container {
    opacity: 0;
    visibility: hidden;
  }
}

.carousel-navigation {
  cursor: pointer;
  z-index: 1;
}

.carousel-navigation img {
  width: 40px;
  height: 40px;
}

.carousel-navigation:hover {
  opacity: 0.8;
}

/* Carousel pagination dots */
.carousel-pagination-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-pagination-dots-container .carousel-pagination-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-image: url("./dimmed-pagination-dot-CKII-GUw.png");
  background-size: cover;
  cursor: pointer;
}

.carousel-pagination-dot:hover {
  opacity: 0.8;
}

.carousel-pagination-dots-container .carousel-pagination-dot.active {
  background-image: url("./pagination-dot-DSXdyI7N.png");
}
.try-brave-vpn {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease, left 0.1s ease-in-out,
    transform 0.1s ease-in-out;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;
  cursor: pointer;
  z-index: 4;
}

@media (max-height: 400px) {
  .try-brave-vpn {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .try-brave-vpn {
    left: 40px;
    transform: none;
  }
}
